@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://use.typekit.net/vnl6uik.css');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

* {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #0c000e;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #242424;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #ededf9;
}
